<body>
<div class = "column side">
<ul>
  <li><a routerLink="/ngodonnations/user/:id" routerLinkActive="active">UserManagement</a></li>
  <li><a routerLink="/ngodonnations/donations/:id" routerLinkActive="active">DonationsManagement</a></li>
  <li><a routerLink="/ngodonnations/user" routerLinkActive="active">UserView</a></li>
</ul>
</div>

<div class = "column middle">
  <h2>Click any donation to continue</h2>
<nav>
  <a routerLink="/ngodonnations/donations/type1" routerLinkActive="active" 
  *ngFor="let donationType of donationTypes" (click)="onSelect(donationType)">{{donationType.donationType}}</a>
</nav>
</div>
</body>

  
    
    