<body>
    
    <ul>
    <li *ngFor="let donationType of donationTypes.donations">
      {{donationType._id}}  
      {{donationType.donationType}}
      <!-- <a routerLink="/Home/donationTypes/:id" routerLinkActive="active" (click)="onSelect(donationType)">{{donationType.donationType}}</a>
       -->
      </li>
    </ul>
    <!-- <div *ngFor="let donationType of donationTypes">
        <li><a routerLink="/Home/donationTypes/:id" routerLinkActive="active" (click)="onSelect(donationType)">{{donationType.donationType}}</a></li>
    </div> -->
    
    </body>
    