<!-- <div class="p-3 mb-2 bg-dark text-white">
  
  <form name="myForm" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <h4>GIFTS</h4>
  

    <div class="form-group">
        <div *ngIf="typeId==1">
            <label>GENERAL DONATION FUND $</label>
            <input type="text" [class.is-invalid]="GENERALDONATIONFUND.invalid  && GENERALDONATIONFUND.touched" formControlName="GENERALDONATIONFUND" required class="form-control"> <!--[(ngModel)]="GENERALDONATIONFUND" -->
            <!-- <div *ngIf="GENERALDONATIONFUND.invalid && GENERALDONATIONFUND.touched ">
              <small class="text-danger" *ngIf="GENERALDONATIONFUND.errors?.required">Input is required</small>
              <small class="text-danger" *ngIf="GENERALDONATIONFUND.errors?.minlength">Input must be at least 1 character</small>

            </div>
              <label>Check for monthly recurring Gift: <input type="checkbox" ng-model="checked"></label> -->

            

            <!--
            <button type="submit" [disabled]="GENERALDONATIONFUND===''" class="btn btn-default" (click)="gotoCart()">Add Data</button>
            -->
            
        <!-- </div>
    <div *ngIf="typeId==2">
      <label>RUN FOR THE SON 2017 $</label>
      <input type="text" formControlName="RUNFORTHESON2017" class="form-control">
      <div *ngIf="RUNFORTHESON2017.invalid && RUNFORTHESON2017.touched">
          <small class="text-danger" *ngIf="RUNFORTHESON2017.errors?.required">Input is required</small>
    </div>
    <label>Check for monthly recurring Gift: <input type="checkbox" ng-model="checked"></label>

  </div> -->
  <!-- <div *ngIf="typeId==2">
    <label>RUN FOR THE SON 2017 $</label>
    <input type="text" class="form-control" [(ngModel)]="RUNFORTHESON2017">
    <button class="btn btn-primary" [disabled]="RUNFORTHESON2017 === ''">Enter name</button>
</div> -->
<!-- <form name="myForm"> -->
    <!-- <div ng-if="typeId==2"> -->
  <!-- <input name="myText" type="text" ng-model="mytext" required /> -->
  <!-- <button type="button" ng-disabled="myForm.$invalid"  (click)="gotoCart()">Save</button> -->
  <!-- <label>Check for monthly recurring Gift: <input type="checkbox" ng-model="checked"></label> -->
  <!-- <button ng-model="button" ng-disabled="checked" ng-click="gotoCart()" >Button</button>
</div>
<div ng-controller="gift"> 
    <h4> 
        Check it  
        <input type="checkbox" ng-model="check" /> 
    </h4> 
      
    <button type="button" ng-disabled="!(check)"> 
        Click to submit 
    </button>  -->



    <!-- <div *ngIf="typeId==3">
        <label>MISSION TRIP SPONSORSHIP $</label>
        <input type="text" formControlName="MISSIONTRIPSPONSORSHIP" class="form-control">
        <div *ngIf="MISSIONTRIPSPONSORSHIP.invalid && MISSIONTRIPSPONSORSHIP.touched">
            <small class="text-danger" *ngIf="MISSIONTRIPSPONSORSHIP.errors?.required">Input is required</small>
      </div>
    </div>

    <div *ngIf="typeId==4">
        <label>MEMORIAL GIFT $</label>
        <input type="text" formControlName="MEMORIALGIFT" class="form-control">
        <div *ngIf="MEMORIALGIFT.invalid && MEMORIALGIFT.touched">
            <small class="text-danger" *ngIf="MEMORIALGIFT.errors?.required">Input is required</small>
      </div>
      <label>Check for monthly recurring Gift: <input type="checkbox" ng-model="checked"></label>

    </div>

   
    <p>
        <button type="button" (click)="goBackDonation()">cancel</button>
      </p>
      
      
      
    <button type="button" (click)="gotoCart()">continue</button> -->
    <!--
    <button class="btn btn-success" ng-click="gotoCart()" 
    ng-disabled="myForm.$invalid">Register</button>
      </div>
    -->


  <!-- </div> 
  </form>
</div> -->
<h4>GIFTS</h4>
<label>{{donations.donationType}} </label>
<form name="myForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
  <input type="number" #price = "ngModel" name = "price " class="form-control"
  [class.is-invalid] = "price.invalid && price.touched" [(ngModel)] = "shoppingCartModel.price">
        <small class="text-danger" [class.d-none] = "price.valid || price.untouched">Money is Required</small>
  <p>
      <label>Check for monthly recurring Gift: <input type="checkbox" ng-model="checked"></label>
  </p>
  <p>
      <button type="button" (click)="goBackDonation()">Back</button>
  </p>
      <button type="button" (click)="gotoCart()">continue</button>
  </div>
</form>
<div class = "alert alert-danger" *ngIf = "errorMsg">
    {{errorMsg}}
</div>
