<div class="container-fluid">
    <h2> Adding DonationType</h2>
   <form [formGroup]="addTypeForm" (ngSubmit)="onSubmit()"> 
     
      <div class="form-group">
        <label>DonationType Name</label>
        
        <input type="text" formControlName="donationType" class="form-control" >
           
          <small class="text-danger" *ngIf="donationType.errors?.required">DonationType is required</small>
          <small class="text-danger" *ngIf="donationType.errors?.minlength">DonationType must be at least 1 characters</small>
        
      </div>
      <button class="btn btn-primary"  type="button" (click)="gotoDonation()">Cancel</button>
  
      <button class="btn btn-primary" type="submit">Submit</button>
  
    </form>
  </div>