
<button (click) = "allDonationTypes()">
    All Donation Types
</button>
<table class="table table-bordered">
  <thead>
      <tr>
          <th>User Name</th>
          <th>Date</th>
          <th>Ammount</th>
          <th>DonationType</th>
      </tr>  
  </thead>
  <tbody>
    <tr *ngFor="let u of shoppingcartOrders; let i = index"  >
      <td>{{u.fname}} {{u.lname}}</td>
      <td>{{u.date}}</td>
      <td>{{u.price}}</td>
      <td>{{u.donationType}}</td>
      <td><button (click) = "delete(u._id)">Delete</button></td>
    </tr>
  </tbody>
</table>