<p>
    donations-managment works!
  </p>
  <button (click) = "addDonationType()">
      add Donation Type
  </button>
  <table class="table table-bordered">
  
    <thead>
        <tr>
            <th>User Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>DonationType</th>
          
        </tr>  
    </thead>
    <tbody>
      <tr *ngFor="let u of shoppingcartOrders; let i = index"  >
        <td>{{u.firstName}} {{u.lastName}}</td>
        <td>{{u.date | date}}</td>
        <td>{{u.price}}</td>
        <td>{{u.donationType}}</td>
        <td (click) = "onSelect(u)">Edit</td>
        <td (click) = "delete(u._id)">Delete</td>
      </tr>
      
    </tbody>
  </table>