<h3 class="mb-3">Donation Management</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
      <th>Amount</th>
      <th>DonationType</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of shoppingcartOrders; let i = index"  >
        <td>{{u.firstName}} {{u.lastName}}</td>
        <td>{{u.date | date}}</td>
        <td>{{u.price}}</td>
        <td>{{u.donationType}}</td>
        
        <button type="button" class="btn btn-sm btn-danger" (click) = "delete(u._id)">Delete</button>
      </tr>
    
    </tbody>
  </table>
  <button type="button" class="btn  btn-primary" (click) = "allDonationTypes()">
      AllDonationTypes>>
  </button>
 
</div>