
<!-- <a routerLink ="/donationHome" routerLinkActive="active">donationhome</a> -->
<div class = "column side">
    <ul>
      <li><a routerLink="/ngodonnations/user/:id" routerLinkActive="active">UserManagement</a></li>
      <li><a routerLink="/Home/donationTypes" routerLinkActive="active">DonationsManagement</a></li>
      <li><a routerLink="/ngodonnations/user" routerLinkActive="active">UserView</a></li>
      
    </ul>
    </div>
 <!-- <a routerLink ="/Home/donationTypes/test" routerLinkActive="active">test</a> -->

<router-outlet></router-outlet>
