<div class = "container-fluid" *ngIf="!submitted">
  <h2>Sign in </h2>
  <form #signinForm="ngForm"  (ngSubmit)="onSubmit(signinForm)" novalidate>
    <div class="form-group">
      <label>Email</label>
      <input type="email" #email="ngModel" required class="form-control" 
      [class.is-invalid]="email.invalid && email.touched" name="email" [(ngModel)]="signinModel.email">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched"> email is required </small>  
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" #password="ngModel" required class="form-control" 
      [class.is-invalid]="password.invalid && password.touched" name="password" [(ngModel)]="signinModel.password">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched"> password is required </small>  
    </div>

    <button class="btn btn-primary" type="submit">sign in</button>
  </form>
</div>
<div>
    <button class="btn btn-primary" (click) ="signup()">sign up</button>
</div>
