table {
    border-collapse: collapse;
    border: 1px solid black;
  } 
  
  th,td {
    border: 1px solid black;
  }
  
  table.a {
    table-layout: auto;
    width: 180px;  
  }
  
  table.b {
    table-layout: fixed;
    width: 10px;  
  }
  
  table.c {
    table-layout: auto;
    width: 100%;  
  }
  
  table.d {
    table-layout: fixed;
    width: 100%;  
  }

  navigation {
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
        font-size: 90%;
        font-weight: bold;
    }
     ul {
      list-style: none;
      margin: 0;
      padding: 0;
      }
      
       li {
      border-bottom: 1px solid #C3DBFB;
      }
      
       li a:link, #navigation li a:visited {
      display: block;
      padding: 9px 5px 5px 0.5em;
      border-left: 13px solid #033CC2;
      border-right: 1px solid #033CC2;
      background-color: #C3DBFB;
      color: rgb(27, 10, 10);
      text-decoration: none;
      }
      
       li a:hover {
      background-color: #033CC2;
      color: rgb(59, 46, 46);
      }