<head>
    <title>ShoppingCart</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">
      <h1>Order Summery</h1>
    </div>
    <table>
      <thead>
        <tr>
        <th>ItemDescription</th>
        <th>Price</th>
      </tr>
      </thead>
    </table>
    <div id="navigation" >
      <ul><li> <a href="#"> your item</a></li>
      <li><a href="#">second item</a></li></ul>
      <button>Car</button>
      </div>
</body>
